<h2>Perfil del jugador</h2>

<div *ngIf="jugador; else cargando">
  <p><strong>Nombre:</strong> {{ jugador.nombre }}</p>
  <p><strong>Edad:</strong> {{ jugador.edad }}</p>
  <p><strong>Altura:</strong> {{ jugador.altura }} m</p>
  <p><strong>Posición:</strong> {{ jugador.posicion }}</p>
  <p><strong>Nivel:</strong> {{ jugador.nivel }}</p>
  <p><strong>Correo:</strong> {{ jugador.correo }}</p>
  <p><strong>Dirección:</strong> {{ jugador.direccion }}</p>
  <p><strong>Sexo:</strong> {{ jugador.sexo }}</p>
  <p><strong>Descripción:</strong> {{ jugador.descripcion }}</p>


  <button class="btn btn-primary mt-3" (click)="router.navigate(['/jugador', jugador.id, 'editar'])">
    Editar perfil
  </button>

  <div *ngIf="!anuncio">
    <button class="btn btn-primary" (click)="publicarAnuncio()">Publicar anuncio</button>
  </div>
  <div *ngIf="anuncio">
    <button class="btn btn-outline-primary" (click)="verAnuncio()">Ver anuncio</button>
  </div>

  <!-- Si existe anuncio -->
  <div *ngIf="anuncio" class="mt-4">
    <h3>Anuncio publicado</h3>
    <p><strong>Día disponible:</strong> {{ anuncio.disponibilidad_dia }}</p>
    <p><strong>Horario disponible:</strong> {{ anuncio.disponibilidad_horaria }}</p>
    <p><strong>Sexo buscado:</strong> {{ anuncio.sexo }}</p>
    <p><strong>Descripción:</strong> {{ anuncio.descripcion }}</p>
  </div>

</div>

<ng-template #cargando>
  <p>Cargando jugador...</p>
</ng-template>
